
.mainScoreDiv {
    background-color: #EBE9E6;
  }
  
  .gapDiv0 {
    height: 40px;
  }
  
  .blackDivBox {
    margin: auto;
    width: 625px;
    height: 165px;
    border-radius: 12px;
    border: 1px solid #8F887C;
    background: #4C4B49 ;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
    gap: 33px;
  }
  
  .Tag35 {
    color: #F9F7F2;
    text-align: center;
    font-family: Jost;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
  }
  
  .yourScored {
    color: #F9F7F2;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
  }
  
  .checkYourAns {
    margin: auto;
    width: 601px;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-top: 139px;
  }
  
  .lineScore {
    margin: auto;
    height: 2px;
    width: 601px;
    background: #777671;
    margin-top: 25px;
  }
  
  .scoreCurrectMaoinDiv {
    margin: auto;
    width: 580px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
  }
  
  .right10PlusMainDiv {
    display: flex;
    gap: 16px;
  }
  
  .rightImg {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
  }
  
  .plusImg {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    background-color: #FEEEB4;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4D150;
  
  }
  
  .lineScore1 {
    width: 580px;
    height: 1px;
    margin: auto;
    background: #8F887C;
    gap: 20px;
  }
  .gapDiv2{
    height: 395px;
  }
  @media (max-width: 360px) {
    .successfullyMainDiv {
      width: 100%;
      margin: auto;
    }
  
    .whiteBoxSuccessfully {
      background-color: white;
      width: 100%;
      margin: auto;
    }
  
    .whiteBoxSuccessfully1 {
      width: 100%;
    }
  
    .rightDivTag {
      width: 28px;
      margin: auto;
      margin-top: 20px;
    }
  
    .successfullyDiv {
      width: 100%;
      margin: auto;
      margin-top: 16px;
      text-align: center;
    }
  
    .maindivSumnited h6,
    .maindivSumnited p {
      width: 100%;
      margin: auto;
      padding: 0 20px;
      text-align: center;
    }
  
    .ckeckScore {
      width: 100%;
      padding: 12px 24px;
      margin-top: 40px;
    }
  }
  