@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.main {
    margin: auto;
}

.mainScoreDiv {
    background-color: #EBE9E6;
    padding-bottom: 300px;
    padding-top: 40px;
}

.gapDiv0 {
    height: 40px;
}

.blackDivBox {
    margin: auto;
    width: 625px;
    height: 165px;
    border-radius: 12px;
    border: 1px solid #8F887C;
    background: #4C4B49;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    text-align: center;
    gap: 33px;
    display: flex;
    /* margin-top: 20px; */
}

.elementBox {
    display: flex;
    width: 406px;
    margin: auto;
}

.elementpTag {
    font-size: 14px;
}

.verticalLine {
    margin-left: 33px;
    margin-right: 33px;
}

.mainTag35yourScored {
    margin-left: 43px;
}

.Tag35 {
    color: #F9F7F2;
    text-align: center;
    font-family: "Jost";
    font-size: 28px;
    font-weight: 500;
}

.yourScored {
    color: #F9F7F2;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 600;
    margin-top: -17px;
}

.checkYourAns {
    margin: auto;
    width: 601px;
    color: #1F1E1C;
    font-family: "Inria Sans";
    font-size: 16px;
    font-weight: 700;
    margin-top: 67px;
}

.lineScore {
    margin: auto;
    height: 2px;
    width: 601px;
    background: #777671;
    margin-top: 25px;
}

.scoreCurrectMaoinDiv {
    margin: auto;
    width: 595px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;

}

.right10PlusMainDiv {
    display: flex;
    gap: 16px;
}

.rightImg {
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
}
.right10PlusMainDiv p {
    font-family: "Inter";
    font-weight: 600;
}
.plusImg {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    background-color: #FEEEB4;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F4D150;

}

.lineScore1 {
    width: 580px;
    height: 1px;
    margin: auto;
    background: #8F887C;
    margin-top: 30px;
    /* gap: 20px; */
}

.mainLastPage {
    width: 595px;
    margin: auto;
}

.gapDiv2 {
    height: 395px;
}

.mainQuestionDiv1 {
    display: flex;
    justify-content: space-between;
    width: 560px;
}

.mainQuestionDivWhiteBox {
    background-color: white;
    width: 560px;
    margin: auto;
    border-radius: 12px;
    padding: 40px;
    border: 1px solid green;
    margin-left: 35px;
}

.mainQuestionDivWhiteBoxRed {
    background-color: white;
    width: 560px;
    margin: auto;
    border-radius: 12px;
    padding: 40px;
    border: 1px solid red;
    margin-left: 35px;

}

.question {
    background-color: white;
    color: #1F1E1C;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 460px;
    color: #4C4B49;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
}

.options li {
    margin: 10px 0;
    margin-left: 8px;
}

/* .gapAssessment {
    height: 53px;
} */

.options input[type="radio"] {
    margin-right: 10px;
}
@media (max-width: 567px) {
    .mainScoreDiv {
        background-color: #EBE9E6;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
    .blackDivBox {
        height: 218px;
        width: 100%;
        display: block;
        padding: 0;
        box-sizing: border-box;


    }

    .mainTag35yourScored {
        width: 84px;
        margin: auto;
        margin-top: 18px;
    }

    .Tag35 {
        font-size: 28px;
        color: #F9F7F2;
        text-align: center;
        font-family: "Jost";
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 84px;
        margin: auto;
    }

    .yourScored {
        font-size: 14px;
        color: #F9F7F2;
        text-align: center;
        font-family: Inter;
        font-weight: 600;
        line-height: 160%;
        margin-top: 5px;
    }

    .verticalLine {
        display: none;
    }

    .elementBox {
        width: 268px;
        margin: auto;
        gap: 20px;
        box-sizing: border-box;

    }

    .checkYourAns {
        width: 100%;
        margin: auto;
        color: #1F1E1C;
        margin-top: 71px;
        font-family: "Inria Sans";
        font-size: 16px;
        font-weight: 700;
        box-sizing: border-box;

    }

    .lineScore {
        width: 100%;
        margin: auto;
        margin-top: 30px;
        /* box-sizing: border-box; */

    }

    .scoreCurrectMaoinDiv {
        width: 100%;
        margin-top: 31px;
        box-sizing: border-box;

    }

    .lineScore1 {
        width: 100%;
        /* box-sizing: border-box; */
    }

    .mainLastPage {
        width: 100%;
        box-sizing: border-box;
    }

    .mainQuestionDivWhiteBox {
        width: 100%;
        margin: auto;
        padding: 40px 30px;
        align-items: center;
    }

    .mainQuestionDivWhiteBoxRed {
        width: 100%;
        margin: auto;
        padding: 40px 30px;
        box-sizing: border-box;

    }
}

body,
html {
    overflow-x: hidden;
}