@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* AssessmentHeader */
/* .headerDivP2 {
    display: flex;
    justify-content: space-between;
    width: 112px;
    margin: auto;
    height: 36px;
}

.logoImgP2 {
    width: 56px;
}

.QAdivP2 {
    height: 29px;
} */

/* Page */
.paginationAssesmentHeaderComponet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1200px;
    height: 72px;
}

.paginationAssesmentComponet1 {
    width: 998px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainwidthBgcolor {
    background-color: #EBE9E6;
}

.secondPageMainDiv {
    background-color: #EBE9E6;
    width: 1200px;
    margin: auto;
}

.secondPageMainDiv1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 894px;
    margin-left: 103px;
    margin-right: 203px;
}

.mainQuestionDiv {
    width: 560px;
    margin-top: 66px;
}





@media (max-width: 567px) {
    /* .paginationAssesmentComponet {
        width: 100%;
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .headerDivP2 {
        width: 100%;
        max-width: 360px;
        margin: 18px auto;
        text-align: center;
    }

    .paginationComponent {
        visibility: hidden;
        height: 72px;
    } */

    /* timer & filter */
    .mainwidthBgcolor {
        width: 100%;
        margin: auto;
    }

    .secondPageMainDiv {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    .secondPageMainDiv1 {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    .medeaQuerryTimerFilterComponent {
        max-width: 360px;
    }

    .TimerSquareBOx {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

}


/* pagination and .assessmentHEderComponent */
@media only screen and (max-width: 567px) {
    .paginationAssesmentComponet {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .paginationAssesmentComponet1 {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    .assessmentComponent,
    .paginationComponent {
        width: 100%;
        max-width: 360px;
        margin: auto;
        height: 72px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .paginationComponent {
        height: 74px;
        background-color: #FCFAFA;
    }
}