/* .headerDivP2 {
    display: flex;
    justify-content: space-between;
    width: 112px;
    margin: auto;
    height: 36px;
}

.logoImgP2 {
    width: 56px;
}

.QAdivP2 {
    height: 29px;
} */
/* Desktop view styles */
.headerDivP2 {
    display: flex;
    justify-content: space-between;
    width: 112px;
    margin: auto;
    height: 36px;
}

.logoImgP2 {
    width: 56px;
}

.QAdivP2 {
    height: 29px;
    margin-left: 10px;
}

/* Mobile view styles */
@media (max-width: 567px) {
    .headerDivP2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 72px;
        margin: auto;
    }

    .QAdivP2 {
        margin-left: 10px;
    }
}