@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');


/* Page */
.paginationAssesmentHeaderComponet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1200px;
    height: 72px;
}

.paginationAssesmentComponet1 {
    width: 998px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainwidthBgcolor {
    background-color: #EBE9E6;
}

.secondPageMainDiv {
    background-color: #EBE9E6;
    width: 1200px;
    margin: auto;
}

.secondPageMainDiv1 {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 894px;
    margin-left: 103px;
    margin-right: 203px;
}

.mainQuestionDiv {
    width: 560px;
    margin-top: 66px;
}





@media (max-width: 567px) {

    .paginationAssesmentHeaderComponet {
        display: inline-block;
        width: 360px;

        /* border: 1px solid black; */

    }

    .paginationAssesmentHeaderComponet1 {
        /* width: 360px; */

    }

    .paginationAssesmentComponet1 {
        display: inline-block;
        width: 100%;
        /* max-width: 360px; */

    }

    .assessmentHeader {
        /* width: 360px; */
        height: 72px;
        border: 1px solid red;
    }

    .paginationComponent {
        /* width: 360px; */
        height: 74px;
        border: 1px solid red;
        background-color: #FCFAFA;
        box-shadow: 0px 4px 3px 5px rgba(0, 0, 0, 0.10);
    }

    /* .headerDivP2 {
        justify-content: center;
        align-content: center;

    } */

    .pagination {
        width: 322px;
        height: 30px;
    }

    .pagination2,
    .pagination3,
    .pagination4,
    .pagination6,
    .pagination7 {
        visibility: hidden;
    }

    .sumbitComponent {
        display: flex;
        border: 1px solid red;
        justify-content: end;
        margin-top: 550px;
        position: absolute;
        margin-left: 230px;
    }

    /* timer & filter */
    .mainwidthBgcolor {
        width: 100%;
        /* margin: auto; */
    }

    .secondPageMainDiv {
        width: 100%;
        max-width: 360px;
        margin: auto;
    }

    .secondPageMainDiv1 {
        width: 320px;
        display: flex;
        margin: auto;
        display: inline-block;

        /* border: 1px solid red; */
        align-items: center;
        justify-content: space-between;

    }

    .medeaQuerryTimerFilterComponent {
        /* width: 320px; */
        display: flex;
        border: 1px solid red;
        align-items: center;
        justify-content: space-between;
        margin-top: 99px;
    }


    .TimerSquareBOx {

        /* height: 100px; */
    }

    .TimerCircleSquare {
        width: 100px;
        border: 1px solid red;

    }

    .circleOne {
        border: 1px solid #EBE9E6;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        color: #E68086;
        background-color: #ddd7cf;
        box-shadow: 10px;
    }

    .circleTwo {
        border: 1px solid #EBE9E6;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        background-color: white;
    }

    .filterMainDiv {
        display: none;
    }

    .RemainingTimeDiv {
        display: none;
    }

    /* timer */

}