@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.filterModalDiv {
    display: none;
}

@media(max-width:567px) {
    .filterModalDiv {
        display: inline;
        width: 110px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        border: 2px solid #E0DFDA;
        background-color: #FCFAFA;
        padding: 10px;
        gap: 12px;

    }

    .linemainDiv {
        width: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .line1 {
        width: 20px;
        height: 0px;
        border: 1px solid #777671;
    }

    .line2 {
        width: 13px;
        border: 1px solid #777671;
        margin-top: 5px;
    }

    .line3 {
        width: 7px;
        border: 1px solid #777671;
        margin-top: 5px;

    }

    .FilterElement {
        font-family: "Inria Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}