.mainDivPagination {
    background-color: white;
}

.mainDivPagination1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1200px;
    height: 72px;
}

.pagination {
    gap: 16px;
    font-size: 14px;
    display: flex;
}


.pagination div {
    color: black;
    line-height: 28px;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.pagination div:hover:not(.active) {
    background-color: black;
    color: white;
    cursor: pointer;
}

.prev,
.next {
    background-color: #FEEEB4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

#prevArrow {
    margin-left: 8px;
}


#threedot {
    display: none;
    /* Hide by default */
}

@media (max-width: 567px) {
    #threedot {
        width: auto;
        display: inline;
    }

    .pagination {
        justify-content: center;
        align-items: center;
        height: 74px;
        gap: 26px;
    }

    .paginations {
        display: none;
    }

    .paginations:nth-child(2),
    .paginations:nth-child(7),
    .paginations:nth-child(11) {
        display: inline-block;

    }

    #threedot {
        border: none;
        line-height: 30px;

    }

}