@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
}

.container {
    margin: auto;
    width: 1200px;
}

.headerDiv {
    height: 72px;
    text-align: center;
    background-color: white;
}

.logoImg {
    width: 56px;
    height: 36px;
    margin-top: 18px;
}

.QAdiv {
    height: 29px;
    margin-top: 18px;
    margin-left: 10px;
}

.headerDiv2 p {
    margin-left: 20px;
    font-family: "Inter";
    line-height: 160%;
    font-size: 14px;
    font-weight: 400;
    color: var(--Dark-b, #4C4B49);
}

/* InstructionPage*/
.instructionDivmain {
    background: #EBE9E6;
    padding-bottom: 120px;

}

.MCQh2 {
    text-align: center;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    line-height: 150px;
    letter-spacing: -0.48px;
    color: #4C4B49;
}

.whiteBox {
    width: 705px;
    margin: auto;
    margin-top: -30px;
    background-color: #F9F7F2;
}

.instructions {
    color: #4C4B49;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    width: 471px;
    line-height: 100px;
}

.paragrap {
    color: var(--Dark-b, #4C4B49);
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    margin-top: -30px;
}

.maindivUi {
    width: 471px;
    margin: auto;
    margin-left: 130px;
}

.ulTag {
    color: #4C4B49;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    width: 471px;
    margin: auto;
    margin-left: 15px;
    margin-top: -20px;
}

.paragrap0 {
    color: #4C4B49;
    font-family: "Inter";
    font-size: 14px;
    /* margin-top: -7px; */
}

.paragrap1 {
    color: #4C4B49;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    /* margin-top: -10px; */
}

.goodLuck {
    color: #4C4B49;
    font-family: "Inter";
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-top: -15px;
}

.LineDiv {
    background: #4C4B49;
    width: 620px;
    height: 1px;
    margin: auto;
    margin-top: 50px;
}

.letsBtnDiv {
    text-align: center;
    margin-top: 45px;
}

.LetsStart {
    color: #1F1E1C;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    padding: 16px 35px;
    border-radius: 4px;
    border: 2px solid #F4D150;
    background-color: #FEEEB4;
    box-shadow: 0px 4px 7px 0px #B3AE9C;
    margin-bottom: 49px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.gapDiv {
    height: 150px;
}

/* footer */

.footerMainDiv {
    height: 171px;
    padding: 46px 0px 68px 0px;
    background: #4C4B49;
    color: #F9F7F2;
    width: 100%;
}

.footer {
    font-size: 18px;
    text-align: center;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
}

.footerP {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-family: "Inria Sans";
    font-size: 14px;
}

@media (max-width: 567px) {

    /* .container {
        width: 100%;
        max-width: 360px;
        margin: auto;
    } */

    /* header */

    .headerDiv {
        width: 100%;
        margin: auto;
    }

    .MCQh2 {
        font-size: 24px;
    }

    .instructionDivmain {
        width: 100%;
        margin: auto;
    }

    .whiteBox {
        width: 100%;
        max-width: 320px;
        margin: auto;
        margin-top: -34px;
    }

    .instructions {
        font-size: 18px;
        text-align: center;
        width: 100%;
        max-width: 280px;
        margin: auto;
    }

    .paragrap {
        margin-top: -20px;
        max-width: 280px;
        margin: auto;
    }

    .paragrap0,
    .paragrap1 {
        font-size: 14px;
        width: 100%;
        max-width: 280px;
        margin: auto;
    }

    .maindivUi {
        width: 100%;
        margin-left: 0;
    }

    .ulTag {
        font-size: 14px;
        padding: 10px;
        margin-top: -30px;
        width: 280px;
        margin: auto;
        margin-right: 4px;
        /* line-height: 150%; */
    }

    .ulTag li {
        font-size: 14px;
        line-height: 1.2;
    }

    .goodLuck {
        font-size: 14px;
        width: 100%;
        max-width: 280px;
        margin: auto;
    }

    .LineDiv {
        width: 100%;
        max-width: 90%;
    }

    .letsBtnDiv {
        margin-top: 40px;
    }

    .LetsStart {
        font-size: 16px;
        padding: 12px 28px;
        margin-bottom: 50px;
    }

}