@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
}

.container {
  margin: auto;
  width: 1200px;
}

.headerDiv {
  height: 72px;
  text-align: center;
  background-color: white;
  /* border: 1px solid red; */
}

.logoImg {
  width: 56px;
  height: 36px;
  margin-top: 18px;
}

.QAdiv {
  height: 29px;
  margin-top: 18px;
  margin-left: 10px;
}

.headerDiv2 p {
  margin-left: 20px;
  font-family: Inter;
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  color: var(--Dark-b, #4C4B49);
}

/* homepage */
.hederDivmain {
  background: #EBE9E6;
}

.MCQh2 {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 150px;
  letter-spacing: -0.48px;
  color: var(--Dark-b, #4C4B49);
  /* margin-top: 60px; */
}

.whiteBox {
  width: 705px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: -25px;
  background-color: #F9F7F2;
}

.instructions {
  color: #4C4B49;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  width: 471px;
  margin-left: 117px;
  /* margin: auto; */
  line-height: 100px;

}

.paragrap {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-top: -30px;

}

.maindivUi {
  width: 471px;
  margin: auto;
  margin-left: 130px;
}

.ulTag {
  color: #4C4B49;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  width: 471px;
  margin: auto;
  margin-left: 15px;
  margin-top: -20px;
}

.paragrap0 {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 14px;
  margin-top: -7px;
}

.paragrap1 {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
}

.goodLuck {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-top: -15px;
}

.LineDiv {
  background: #4C4B49;
  width: 620px;
  height: 1px;
  margin: auto;
  margin-top: 50px;
}

.letsBtnDiv {
  text-align: center;
  margin-top: 45px;
}

.LetsStart {
  color: var(--Dark-a, #1F1E1C);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 16px 35px;
  border-radius: 4px;
  border: 2px solid #F4D150;
  background-color: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
  margin-bottom: 49px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.gapDiv {
  height: 150px;
}

@media (max-width: 567px) {

  .container {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }

  .headerDiv {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }

  .MCQh2 {
    font-size: 24px;
  }

  .hederDivmain {
    width: 100%;
    max-width: 360px;
    margin: auto;
  }

  .whiteBox {
    width: 100%;
    max-width: 320px;
    margin: auto;
    margin-top: -34px;
  }

  .instructions {
    font-size: 18px;
    text-align: center;
    width: 100%;
    max-width: 280px;
    margin: auto;
  }

  .paragrap{
    margin-top: -20px;
  }

  .paragrap,
  .paragrap0,
  .paragrap1 {
    font-size: 14px;
    width: 100%;
    max-width: 280px;
    margin: auto;
  }

  .maindivUi {
    width: 100%;
    margin-left: 0;
  }

  .ulTag {
    font-size: 14px;
    padding: 5px;
    margin-top: -30px;
    width: 280px;
    margin: auto;
    margin-right: 3px;
    /* gap:15px; */
  }

  .ulTag li {
    font-size: 14px;
    line-height: 1.2;
  }

  .goodLuck {
    font-size: 14px;
    width: 100%;
    max-width: 280px;
    margin: auto;
  }

  .LineDiv {
    width: 100%;
    max-width: 90%;
    /* margin: 20px auto; */
  }

  .letsBtnDiv {
    margin-top: 40px;
  }

  .LetsStart {
    font-size: 16px;
    padding: 12px 28px;
    margin-bottom: 50px;
  }

  /* footer */
  .gapDiv {
    height: 100px;
  }

  .footerMainDiv {
    height: 171px;
    padding: 46px 0px 68px 0px;
    background: #4C4B49;
    color: white;
    width: 100%;
    max-width: 360px;
    margin: auto;
    box-sizing: border-box;
  }

  .footer {
    font-size: 18px;
    text-align: center;
    color: #F9F7F2;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
  }

  .footerP {
    font-family: Inter, sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--Light-b, #F9F7F2);
    text-align: center;
    /* tx small */
    font-family: "Inria Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}








/* footer */
.footerMainDiv {
  height: 171px;
  padding: 46px 0px 68px 0px;
  background: #4C4B49;
  color: white;

}

.footer {
  font-family: Inter;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.footerP {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}