@import 'bootstrap/dist/css/bootstrap.min.css';

* {
  margin: 0;
}

.container {
  margin: auto;
  width: 1200px;
}

.headerDiv {
  height: 72px;
  text-align: center;
  background-color: white;
  /* border: 1px solid red; */
}

.logoImg {
  width: 56px;
  height: 36px;
  margin-top: 18px;
}

.QAdiv {
  height: 29px;
  margin-top: 18px;
  margin-left: 15px;
}

/* .pagination {
  display: none;
} */

.headerDiv2 p {
  margin-left: 20px;
  font-family: Inter;
  line-height: 160%;
  font-size: 14px;
  font-weight: 400;
  color: var(--Dark-b, #4C4B49);
}

/* homepage */
.hederDivmain {
  background: #EBE9E6;
}

.MCQh2 {
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 150px;
  letter-spacing: -0.48px;
  color: var(--Dark-b, #4C4B49);
  /* margin-top: 60px; */
}

.whiteBox {
  width: 705px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: -25px;
  background-color: white;
}

.instructions {
  color: #4C4B49;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  margin-left: 117px;
  line-height: 100px;
  margin: auto;
  width: 471px;
}

.paragrap {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-top: -30px;
}

.maindivUi {
  width: 471px;
  margin: auto;
  margin-left: 130px;
}

.maindivUi1 {
  margin-top: -30px;
}

.uiTag {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  list-style: none;
}

.uiTag li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
  line-height: 18px;
}

.uiTag li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #4C4B49;
  font-size: 15px;
  margin-left: 10px;
}

.paragrap0 {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 14px;
  margin-top: -25px;
}

.paragrap1 {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
}

.goodLuck {
  color: var(--Dark-b, #4C4B49);
  font-family: Inter;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  margin-top: -15px;
}

.LineDiv {
  background: #4C4B49;
  width: 620px;
  height: 1px;
  margin: auto;
  margin-top: 50px;
}

.letsBtnDiv {
  text-align: center;
  margin-top: 45px;
}

.LetsStart {
  color: var(--Dark-a, #1F1E1C);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  padding: 16px 35px;
  border-radius: 4px;
  border: 2px solid #F4D150;
  background-color: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
  margin-bottom: 49px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.gapDiv {
  height: 150px;
}

@media (max-width: 495px) {

  .headerDiv {
    width: 360px;
    margin: auto;
  }

  .MCQh2 {
    font-size: 24px;
  }

  .hederDivmain {
    width: 360px;
    margin: auto;
  }

  .whiteBox {
    width: 320px;
    margin: auto;
    margin-top: -34px;
  }

  .instructions {
    font-size: 18px;
    margin-left: 0;
    text-align: center;
    width: 280px;
    margin: auto;
  }

  .paragrap,
  .paragrap0 {
    /* margin-top: -20px; */
  }

  .paragrap,
  .paragrap0,
  .paragrap1 {
    font-size: 14px;
    margin-left: 0;
    width: 355px;
    margin: auto;
    width: 280px;
    margin: auto;
  }

  .maindivUi {
    width: 100%;
    margin-left: 0;
  }

  .maindivUi1 {
    margin-top: 0;
    font-family: Inter;
    font-size: 14px;
    line-height: 150%;
    width: 280px;
    margin: auto;
  }

  .uiTag {
    font-size: 14px;
    margin-top: 0;
    padding: 5px;
    margin-top: -30px;
  }

  .uiTag li {
    font-size: 12px;
    line-height: 1.2;
    padding-left: 20px;
  }

  .uiTag li::before {
    margin-left: 0;
  }

  .goodLuck {
    font-size: 14px;
    width: 280px;
    margin: auto;
  }

  .LineDiv {
    width: 90%;
    margin: 20px auto;
  }

  .letsBtnDiv {
    margin-top: 20px;
  }

  .LetsStart {
    font-size: 16px;
    padding: 12px 28px;
    margin-bottom: 40px;
  }

  .gapDiv {
    height: 100px;
  }

  .footerMainDiv {
    width: 360px;
    margin: auto;
  }

  /* .footer{
    width: 289px;
    margin: auto;
    font-size: 18px;
  }
  .footerP{
    width: 289px;
    margin: auto;
    font-size: 14px;
  } */
}

/* pagination */
.mainDivPagination {
  background-color: white;
}

.mainDivPagination1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 960px;
  height: 72px;
}

.paginationMain {
  display: flex;
  align-items: center;
}

.pagination {
  display: inline-block;
  align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 10px 14px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.pagination a:hover:not(.active) {
  background-color: black;
  color: white;
}

/* Arrow icons styling */
.pagination .prev::before,
.pagination .next::after {
  font-size: 15px;
}

.pagination .prev {
  display: flex;
  align-items: center;
  background-color: #FEEEB4;
}

.pagination .next {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FEEEB4;
}

.submitDiv {
  display: inline-flex;
  padding: 16px 35px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 2px solid #F4D150;
  background: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
  width: 130px;
  height: 54px;
  margin-left: 30px;
}

.submit {
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: black;
  text-decoration: none;
  display: inline-block;
}

/* Assessment */
.filterinside {
  width: 284px;
  /* border: 1px solid red; */
  margin-top: 150px;
  height: 375px;
  background-color: white;
  border-radius: 12px;
  border: 1px dashed #777671;
  background: #F9F7F2;
}

.filter {
  color: #4C4B49;
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: auto;
  width: 197px;
  margin-top: 36px;
}

.questionScore {
  margin: auto;
  width: 206px;
  margin-top: 36px;
  color: #1F1E1C;
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.questionsattempted {
  color: #1F1E1C;
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 206px;
  margin: auto;
  margin-top: 48px;
}

.paginationfilterbox {
  width: 220px;
  margin: 16px auto 0;
}

.paginationfilterbox a {
  padding: 10px 12px;
  display: inline-block;
  margin: 0 5px;
  border: 1px solid #F4D150;
  background: #FEEEB4;
  color: #1F1E1C;
  text-decoration: none;
  font-family: Inter, sans-serif;
  font-size: 14px;
  text-align: center;
  border-radius: 4px;

}

.paginationfilterbox a:hover {
  color: white;
  background-color: black;
  /* Optional: slightly darker background on hover */
}


.allattemtedDiv {
  display: flex;
  width: 206px;
  margin: auto;
  margin-top: 16px;
  justify-content: space-between;
}

.all40 {
  display: flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 54px;
  border: 1px solid #F4D150;
  background: #FEEEB4;
}

.attemted3 {
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 54px;
  border: 1px solid #F4D150;
  background: #FEEEB4;
}

.Unattempted37 {
  display: flex;
  padding: 6px 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 54px;
  border: 1px solid #F4D150;
  background: #FEEEB4;
  width: 206px;
  margin: auto;
}

.all40:hover,
.attemted3:hover,
.Unattempted37:hover {
  background-color: black;
  color: white;
}

.secondPageMainDiv {
  background-color: #EBE9E6;
}

.secondPageMainDiv1 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 894px;
}

.Question1 {
  color: #1F1E1C;
  font-family: "Inria Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.score1 {
  color: #1F1E1C;
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mainQuestionDiv {
  margin: auto;
  width: 480px;
  margin-top: 66px;
}

.questionDiv {
  margin-bottom: 40px;
  width: 460px;
  margin: auto;
  color: #1F1E1C;
  color: #1F1E1C;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.mainQuestionDiv1 {
  display: flex;
  justify-content: space-between;
  width: 560px;
}

.mainQuestionDivWhiteBox {
  background-color: white;
  width: 560px;
  margin: auto;
  border-radius: 12px;
  padding: 40px;
}


.question {
  background-color: white;
  color: #1F1E1C;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 460px;
  color: var(--Dark-b, #4C4B49);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.options li {
  margin: 10px 0;
  margin-left: 8px;
}

.options input[type="radio"] {
  margin-right: 10px;
  /* Adds space between radio button and label */
}

.gapAssessment {
  height: 40px;
}

/* successfullyPage */
.successfullyMainDiv {
  background-color: #EBE9E6;
}

.gapDiv4 {
  height: 103px;
}

/* .rightDivTag {
  width: 28px;
  height: 28px;
  margin: auto;
  flex-shrink: 0;
  background-color: #88BE37;
  margin-top: 65px;
  overflow: hidden;
  border-radius: 50%;
} */
.rightDivTag {
  width: 28px;
  height: 28px;
  margin: auto;
  flex-shrink: 0;
  background-color: #88BE37;
  margin-top: 65px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightDivTag img {
  width: 14px; /* This is the size of the image */
  height: 10px; /* Set height to ensure it remains square */
}

.whiteBoxSuccessfully {
  margin: auto;
  width: 705px;
  background-color: white;
  border: 1px solid white;
}

.successfullyDiv {
  color: var(--Dark-a, #1F1E1C);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  width: 265px;
  margin: auto;
  margin-top: 22px;
  letter-spacing: -0.48px;
}

.maindivSumnited h6 {
  color: #000;
  width: 319px;
  margin: auto;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-top: 36px;
}

.maindivSumnited p {
  width: 319px;
  margin: auto;
  color: #000;
  margin-top: 12px;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ckeckScore {
  margin: auto;
  width: 222px;
  font-size: 18px;
  padding: 16px 35px;
  border-radius: 4px;
  border: 2px solid #F4D150;
  background: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
  margin-bottom: 108px;
  margin-top: 100px;
}

.scoreATag {
  text-decoration: none;
  display: inline-block;
  color: #1F1E1C;
}

.gapDiv2 {
  height: 428px;
}

/* footer */
.footerMainDiv {
  height: 171px;
  padding: 46px 0px 68px 0px;
  background: #4C4B49;
  color: white;
}

.footer {
  font-family: Inter;
  font-size: 18px;
  justify-content: center;
  text-align: center;
}

.footerP {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}