.successfullyMainDiv {
	background-color: #EBE9E6;
}

.gapDiv4 {
	height: 103px;
}

.rightDivTag {
	width: 28px;
	height: 28px;
	margin: auto;
	margin-top: 65px;
}

.whiteBoxSuccessfully {
	margin: auto;
	width: 705px;
	background-color: #F9F7F2;
	border: 1px solid white;
}

.successfullyDiv {
	color: #1F1E1C;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 120%;
	width: 265px;
	margin: auto;
	margin-top: 22px;
	letter-spacing: -0.48px;
	text-align: center;
}

.maindivSuccessfully h6 {

	color: #000;
	margin-top: 36px;
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	font-weight: 600;

}

.maindivSuccessfully p {
	color: #000;
	margin-top: 12px;
	text-align: center;
	font-family: Inter;
	font-size: 14px;
	margin: auto;
	width: 319px;
}

.ckeckScore {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	border: 2px solid #F4D150;
	background: #FEEEB4;
	box-shadow: 0px 4px 7px 0px #B3AE9C;
	max-width: 250px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 108px;
	margin-top: 98px;

}

.scoreATag {
	display: inline-block;
	width: 152px; 																																															
	text-align: center;
	justify-content: center;
	text-decoration: none;
	color: #1F1E1C;																																																																																																					
	height: 54px;
	line-height: 54px; 
}

.gapDiv2 {
	height: 428px;
}

@media(max-width:567px) {
	.successfullyMainDiv {
		display: flex;
		width: 100%;
		/* max-width: 360px; */
		flex-direction: column;
		align-items: center;
		gap: 57px;
		margin: auto;
	}

	.gapDiv4 {
		height: 54px;
	}

	.whiteBoxSuccessfully {
		width: 100%;
		max-width: 320px;
		height: 422px;
		flex-shrink: 0;
		margin: auto;
	}

	.successfullyDiv {
		color: #1F1E1C;
		font-family: Inter, sans-serif;
		font-size: 24px;
		font-weight: 600;
		line-height: 120%;
		letter-spacing: -0.48px;
		text-align: center;
	}

	.h6 {
		color: #000;
		text-align: center;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 160%;
	}

	.p {
		color: #000;
		text-align: center;
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%;

	}

	.ckeckScore {
		margin-bottom: 60px;
		margin-top: 50px;
	}

	.gapDiv2 {
		height: 75px;
	}
}